@import url("https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Manrope:wght@200..800&family=Noto+Serif+Georgian:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap");
html {
  font-size: 62.5%;
}

* {
  padding: 0;
  margin: 0;
  border: 0;
  box-sizing: border-box;
  font-family: Inter, sans-serif;
}

.hdr {
  width: 100%;
  max-width: 768px;
  background-color: #FF6B1A;
  color: #FFFFFF;
  padding-top: 39px;
}
.hdr .hdr-title {
  margin: 0 0 40px 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hdr .hdr-title .hdr-logo {
  display: flex;
  align-items: center;
  gap: 5px;
  align-items: center;
}
.hdr .hdr-title .hdr-logo img {
  width: 24px;
  height: 24px;
}
.hdr .hdr-title .hdr-logo h1 {
  color: rgba(255, 255, 255, 0.9);
  font-size: 24px;
  font-weight: 700;
}
.hdr .hdr-title p {
  font-size: 14px;
  font-weight: 500;
}
.hdr .hdr-nav {
  background-color: #1A1A1A;
  width: 100%;
}
.hdr .hdr-nav .hdr-nav-btn {
  margin: 17px 13px;
  background-color: #FF6B1A;
  padding: 7px 17px 7px 13px;
  border-radius: 8px;
}
.hdr .hdr-nav .hdr-nav-btn img {
  width: 17px;
  height: 14px;
}
.hdr .hdr-nav .hdr-nav-btn span {
  font-size: 19px;
  font-weight: 500;
  color: #FFFFFF;
}
.hdr .hdr-nav .hdr-nav-list {
  display: none;
}

h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%;
  color: #000000;
}

.body-main {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3.9rem;
  background-color: #F5F5F5;
  display: none;
}
.body-main .body-hdr {
  background-image: linear-gradient(rgba(42, 42, 42, 0.9), rgba(42, 42, 42, 0.9)), url(../assets/images/BackgroundIcon.png);
  background-color: #2A2A2A;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15.1rem 12.6rem;
  color: #FFFFFF;
  padding: 13.7rem 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5rem;
  width: 100%;
}
.body-main .body-hdr h2 {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 100%;
  text-align: center;
  color: #FFFFFF;
}
.body-main .body-hdr p {
  color: rgba(255, 255, 255, 0.9);
  font-size: 1.6rem;
  text-align: center;
}
.body-main .body-main-grid {
  gap: 3rem;
  padding-bottom: 16rem;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
}
.body-main .body-main-grid :nth-child(1) {
  order: 1;
}
.body-main .body-main-grid :nth-child(2) {
  order: 2;
}
.body-main .body-main-grid :nth-child(3) {
  order: 3;
}
.body-main .body-main-grid :nth-child(4) {
  order: 4;
}
.body-main .body-main-grid :nth-child(5) {
  order: 5;
}
.body-main .body-main-grid :nth-child(6) {
  order: 6;
}
.body-main .card {
  width: 32.4rem;
  height: 20rem;
  border-radius: 1.2rem;
  border-top: 0.4rem #FF6B1A solid;
  background-color: #FFFFFF;
  padding: 2.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: start;
}
.body-main .card .card-hdr {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  gap: 0.8rem;
}
.body-main .card p {
  font-size: 1.6rem;
  color: #666666;
}

footer {
  padding: 3.8rem 1.9rem;
  width: 100%;
  background-color: #1A1A1A;
  font-size: 1.2rem;
  color: #FFFFFF;
  display: none;
}

@media screen and (min-width: 768px) {
  .hdr {
    width: 100%;
    max-width: 1023px;
  }
  .hdr .hdr-title {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .hdr .hdr-title .hdr-logo h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 30px;
    font-weight: 700;
  }
  .hdr .hdr-title p {
    font-size: 16px;
    font-weight: 500;
  }
  .hdr .hdr-nav .hdr-nav-btn {
    display: none;
  }
  .hdr .hdr-nav .hdr-nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .hdr .hdr-nav .hdr-nav-list a li {
    color: #FFFFFF;
    font-size: 15px;
    font-weight: 500;
  }
}
@media screen and (min-width: 1024px) {
  .hdr {
    width: 100%;
  }
  .hdr .hdr-title {
    width: 100%;
    justify-content: center;
    align-items: center;
    margin-left: 0;
  }
  .hdr .hdr-title .hdr-logo img {
    width: 57.86px;
    height: 48.65px;
  }
  .hdr .hdr-title .hdr-logo h1 {
    color: rgba(255, 255, 255, 0.9);
    font-size: 40px;
    font-weight: 700;
  }
  .hdr .hdr-title p {
    font-size: 18 px;
    font-weight: 500;
  }
  .hdr .hdr-nav .hdr-nav-btn {
    display: none;
  }
  .hdr .hdr-nav .hdr-nav-list {
    display: flex;
    list-style: none;
    align-items: center;
    justify-content: center;
    gap: 50px;
  }
  .hdr .hdr-nav .hdr-nav-list a li {
    color: #FFFFFF;
    font-size: 17px;
    font-weight: 500;
  }
}

/*# sourceMappingURL=style.css.map */
