@import url('https://fonts.googleapis.com/css2?family=Anton&family=Big+Shoulders:opsz,wght@10..72,100..900&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kumbh+Sans:wght,YOPQ@100..900,300&family=Manrope:wght@200..800&family=Noto+Serif+Georgian:wght@100..900&family=Nunito:ital,wght@0,200..1000;1,200..1000&family=Quicksand:wght@300..700&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&family=Roboto:ital,wght@0,100..900;1,100..900&family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');


html {
    font-size: 62.5%;
}

* {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}

$main-orange: #FF6B1A;
$secondary-color: #2A2A2AE5;
$primary-text-color: #FFFFFF;
$secondary-text-color: #666666;
$bg-black: #1E1E1E;
$bg-image: rgba(#2A2A2A, 0.9);
$card-title-color: #000000;
$regular-font-color: #666666;
$footer-color: #1A1A1A;
$my-white: rgba(#FFFFFF, 0.9);
$title-font-size: 2.4rem;
$regular-font-size: 1.6rem;
$smaller-font-size: 1.2rem;
$small-font-size: 1.4rem;
$logo-width: 2.4rem;
$logo-height: 2.018rem;
$btn-width: 10.3rem;
$btn-height: 3.7rem;
$card-width-size: 32.4rem;
$card-height-size: 20rem;


@mixin flex-col-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

@mixin flex-col-left {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

@mixin flex-row-center {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}

@mixin flex-row-left {
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;

}

@mixin title-text {
    font-size: 2.4rem;
    font-weight: 700;
    line-height: 100%;
}



// Header style
.hdr {
    width: 100%;
    max-width: 76.8rem;
    background-color: #FF6B1A;
    color: #FFFFFF;
    padding-top: 3.9rem;

    .hdr-title {
        margin: 0 0 4rem 4rem;
        display: flex;
        flex-direction: column;
        justify-content: center;

        .hdr-logo {
            display: flex;
            align-items: center;
            gap: 0.5rem;
            align-items: center;

            img {
                width: 2.4rem;
                height: 2.4rem;
            }

            h1 {
                color: rgba(#FFFFFF, $alpha: 0.9);
                font-size: 2.4rem;
                font-weight: 700
            }
        }

        p {
            font-size: $small-font-size;
            font-weight: 500;
        }
    }

    .hdr-nav {
        background-color: #1A1A1A;
        width: 100%;

        .hdr-nav-btn {
            margin: 1.7rem 1.3rem;
            background-color: #FF6B1A;
            padding: 0.7rem 1.7rem 0.7rem 1.3rem;
            border-radius: 0.8rem;

            img {
                width: 1.7rem;
                height: 1.4rem;
            }

            span {
                font-size: 1.9rem;
                font-weight: 500;
                color: #FFFFFF;
            }

        }

        .hdr-nav-list {
            display: none;
        }
    }
}


h2 {
    font-size: $title-font-size;
    font-weight: 700;
    line-height: 100%;
    color: $card-title-color;
}


.body-main {
    @include flex-col-center;
    gap: 3.9rem;
    background-color: #F5F5F5;
    

    .body-hdr {
        // background-image:url(../assets/images/BackgroundIcon.png);
        background-image: linear-gradient($bg-image, $bg-image), url(../assets/images/BackgroundIcon.png);
        background-color: #2A2A2A;
        background-repeat: no-repeat;
        background-position: center;
        background-size: 15.1rem 12.6rem;
        color: $primary-text-color;
        padding: 13.7rem 2.4rem;
        @include flex-col-center;
        gap: 1.5rem;
        width: 100%;

        h2 {
            @include title-text;
            text-align: center;
            color: $primary-text-color;
        }

        p {
            color: $my-white;
            font-size: $regular-font-size;
            text-align: center;
        }
    }

    .body-main-grid {
        // @include flex-col-center;
        gap: 3rem;
        padding-bottom: 16rem;
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: auto;
    }



    .card {
        width: $card-width-size;
        // max-width: $card-width-size;
        height: $card-height-size;
        border-radius: 1.2rem;
        border-top: 0.4rem #FF6B1A solid;
        background-color: $primary-text-color;
        padding: 2.4rem;
        @include flex-col-left;
        // gap: 0.3rem;

        .card-hdr {
            @include flex-row-left;
            gap: 0.8rem;
        }

        p {
            font-size: $regular-font-size;
            color: $regular-font-color;
        }
    }
}

footer {
    padding: 3.8rem 1.9rem;
    width: 100%;
    background-color: $footer-color;
    font-size: $smaller-font-size;
    color: $primary-text-color;
    display: none;
}

@media screen and (min-width: 768px) {

    $title-font-size:3rem;
    $small-font-size: 1.6rem;
    .hdr {
        width: 100%;
        max-width: 1023px;
        // padding-top: 58px; 

        .hdr-title {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-left: 0;
            .hdr-logo {
                
                h1 {
                    color: rgba(#FFFFFF, $alpha: 0.9);
                    font-size: $title-font-size;
                    font-weight: 700
                }
            }

            p {
                font-size: $small-font-size;
                font-weight: 500;
            }
        }
        .hdr-nav{
            .hdr-nav-btn{
                display: none;
            }
        .hdr-nav-list{
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
            gap: 50px;
            
            a{
                li{
                    color: #FFFFFF;
                    font-size: 15px;
                    font-weight: 500;
                }
            }
        }
    }
    }

    .body-main {
        .body-hdr{
            background-size: 22.65rem 19.047rem;
        }
        .body-main-grid{
            grid-template-columns: repeat(2, 1fr);
        }
    }
}

@media screen and (min-width: 1024px) {
    $title-font-size:4rem;
    $small-font-size: 1.8rem;
    .hdr {
        width: 100%;
        // padding-top: 58px; 

        .hdr-title {
            width: 100%;
            justify-content: center;
            align-items: center;
            margin-left: 0;
            .hdr-logo {
                img {
                width: 57.86px;
                height: 48.65px;
            }
                h1 {
                    color: rgba(#FFFFFF, $alpha: 0.9);
                    font-size: $title-font-size;
                    font-weight: 700
                }
            }

            p {
                font-size: $small-font-size;
                font-weight: 500;
            }
        }
        .hdr-nav{
            .hdr-nav-btn{
                display: none;
            }
        .hdr-nav-list{
            display: flex;
            list-style: none;
            align-items: center;
            justify-content: center;
            gap: 50px;
            
            a{
                li{
                    color: #FFFFFF;
                    font-size: 17px;
                    font-weight: 500;
                }
            }
        }
    }
    }
    .body-main {
        .body-hdr{
            background-size: 30.2rem 25.396rem;
        }
        .body-main-grid{
            grid-template-columns: repeat(3, 1fr);
        }
        
    }
}